@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 182 99 42;
    --primary-100: 182 92 38;
    --primary-200: 182 77 33;
    --primary-300: 182 65 20;
    --primary-400: 182 52 17;
    --primary-500: 182 98 10;

    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  *,
  body {
    font-family: "Rubik", sans-serif;
  }

  section {
    @apply px-4 md:px-8 py-4;
  }
}

@layer components {
  .welcome-section,
  .login-section {
    height: 100vh;
    height: 100dvh;
  }

  .welcome-language-change[aria-expanded="false"][data-state="closed"] {
    @apply bg-[#24242422] border-transparent text-white;
  }

  .welcome-language-change[aria-expanded="false"][data-state="closed"]:hover {
    @apply bg-[#2424243d];
  }

  .welcome-language-change span,
  div .select-item {
    @apply grid grid-cols-2;
  }

  .btn-primary {
    @apply bg-gradient-to-br from-primary-100 to-primary-200 transition-colors;
  }

  .btn-primary:hover {
    @apply from-primary-200 to-primary-200;
  }

  /* Loader */
  .loader {
    @apply !border-primary-200;
    width: 62px;
    height: 62px;
    border: 3px dotted;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .loader::after {
    @apply !border-primary-100;
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted;
    border-style: solid solid dotted;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}
